@forward 'includes';
@use './includes/functions' as f;

$montserrat: 'Montserrat', sans-serif;
$fraunces: 'Fraunces', serif;
$radius: 10;

body{
    display: grid;
    place-items: center;
    background: var(--cream);
    font-family: $montserrat;
    font-size: f.calcRem(14);
    height: 100vh;
    overflow-x: hidden;
    padding: f.calcEm(20);
}

main{
    width: clamp(f.calcEm(344),100%,f.calcEm(1440));
    border-radius: f.calcEm($radius);
    background: var(--white);

    @media (min-width: f.calcEm(992)){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: f.calcEm(450);
        width: f.calcEm(600);
    }
}

picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: f.calcEm($radius) f.calcEm($radius) 0 0;

    @media (min-width: f.calcEm(992)){
        border-radius: f.calcEm($radius) 0 0 f.calcEm($radius);
        height: f.calcEm(450);
    }
}

#product-details{
    padding: f.calcEm(22);
    display: grid;
    gap: f.calcEm(15);

    p{
        color: var(--dark-grayish-blue);
    }
    p:nth-child(1){
        letter-spacing: f.calcEm(1.5);
        text-transform: uppercase;
    }
    .prices{
        display: flex;
        gap: f.calcEm(10);
        align-items: center;
    }
    .prices p:nth-child(1){
        color: var(--dark-cyan);
    }
    .prices p:nth-child(2){
        text-decoration: line-through;
    }

    h1,.prices p:nth-child(1){
        font-family: $fraunces;
        font-size: f.calcRem(30);
    }

    button{
        background: var(--dark-cyan);
        border: none;
        color: var(--white);
        border-radius: f.calcEm($radius);
        height: f.calcEm(48);
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: f.calcEm(10);

        &:hover{
            background: var(--very-dark-blue);
        }
    }
}

.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: var(--attribution-blue); }